# *Theoretical Questions: *

**Q1.** What are data structures, and why are they important ?  
Ans: Data Structures are a way of organizing data so that it can be accessed more efficiently depending upon the situation. Data Structures are fundamentals of any programming language around which a program is built.A data structure is a specialized format for organizing, processing, retrieving and storing data.
Python helps to learn the fundamental of these data structures in a simpler way as compared to other programming languages.

**Q2.**Explain the difference between mutable and immutable data types with examples.  
Ans.A Python data type defines the type of data stored in a variable.  
Python data type is categorized into two types:  
**Mutable Data Type** - A mutable data type is one whose values can be changed.  
Example: List, Dictionaries, and Set .  
**Immutable Data Type** - An immutable data type is one in which the values can’t be changed or altered.  
Example: String and Tuples

**Q3.** What are the main differences between lists and tuples in Python ?  
Ans:   **list** :  1.Lists can be modified by adding or removing elements.  
2.The implication of iterations is Time-consuming.  
3.Lists consume more memory .  
**tuples** :  1. tuple can not be modified by adding or removing elements.  
2.The implication of iterations is comparatively Faster.  
3.Tuple consumes less memory as compared to the list .

**Q4.**  Describe how dictionaries store data ?  
Ans: Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.Store Values in Dictionary in Python Using zip Function . As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.


**Q5.** Why might you use a set instead of a list in Python?  
Ans: Reasons to Use Sets over Lists :  
1.Order doesn't matter. Unlike lists, sets do not store ordered data.  
2.Duplicates are irrelevant.sets cannot contain duplicates.  
3.Processing speed matters.

**Q6.** What is a string in Python, and how is it different from a list ?  
Ans: **Strings :** In Python,strings are sequences of characters enclosed in quotes ('' or “”).  eg. ("python program").Strings are immutable, meaning they cannot be changed once created.  
**list:** lists are ordered collections of items enclosed in square brackets []. eg.  [ 1 , 2 , 5.6 , "python" ]
lists are mutable and can be modified as needed.

**Q7.** How do tuples ensure data integrity in Python ?  
Ans: Tuples are immutable to ensure that their contents remain constant throughout their lifecycle,surly data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

**Q8.** What is a hash table, and how does it relate to dictionaries in Python ?  
Ans:A Hash Table in Python is a data structure where data is stored in an associative manner. In hash tables, data is stored in an array format, with every data value having an exclusive or unique index value. This type of storage offers quick access to data if the index of the data required is available .  
In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary are hashable,they are generated by a hash function which generates a unique result for each unique value supplied to the hash function.

**Q9.** Can lists contain different data types in Python ?  
Ans: Yes, a list can contain a mix of Python data types including strings, floats, and booleans.

**Q10.**  Explain why strings are immutable in Python .  
Ans: Strings in Python are “immutable” which means they can not be changed after they are created.
The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.  
String immutability provides inherent thread safety. When multiple threads access the same immutable object, there’s no risk of data corruption due to concurrent modifications.

**Q11.** What advantages do dictionaries offer over lists for certain tasks?  
Ans: A list can store any data type. In contrast, keys in the dictionary can be of any immutable data type, and values can be of any data type. Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations.  
It is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner.

**Q12.**Describe a scenario where using a tuple would be preferable over a list.  
Ans:We prefer, tuples over the lists are as follows:   
Tuples are faster than lists. Tuples make the code safe from any by mistake modification. If a data is needed in a program which is not supposed to be changed, then it is better to put it in 'tuples' than in 'list'.Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

**Q13.** How do sets handle duplicate values in Python ?  
Ans: Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

After a set is created, its items cannot be changed. However, new items can be added. As we mentioned, all set items need to be unique because duplicates are not allowed. Items in a set can be of any data type.

**Q14.** How does the “in” keyword work differently for lists and dictionaries?  
Ans:The 'in' operator is used to check if a value exists in a sequence like a list, tuple, or string.  
The ‘in’ operator used with dictionaries to check if a key is in the dictionary, not values. If you want to check if a value is in the dictionary, you can use the values() method:  
Here’s an examples:

In [31]:
# use if "in" operator in list
list = [1,2,3,4,5]
print(1 in list)

True

In [32]:
# use of "in" operator in dictionaries
person = {'name': 'Avi', 'age': 7 , 'city': 'Delhi'}
print('age' in person)

True

**Q15.** Can you modify the elements of a tuple? Explain why or why not.  
Ans: In Python, tuples are immutable, meaning that once they are created, their elements cannot be changed, added, or removed.But there is a workaround, we can convert the tuple into a list, change the list,add your item(s) and convert the list back into a tuple .

**Q16.** What is a nested dictionary, and give an example of its use case ?  
Ans: Nested dictionary refers to the dictionary inside a dictionary. In simple words, it refers to the dictionary, which consists of a set of multiple dictionaries. It is used to store the data values in key-value pairs. Nesting Dictionary means putting a dictionary inside another dictionary.  
eg.In the below program, kids is a nested dictionary. The internal dictionary 1 and 2 is assigned to kids. Here, both the dictionary have key name, age , sex with different values. Now, we print the result of kids.

In [ ]:
# example of Nested dictionary :
kids={1: {'name': 'Avi', 'age': '7', 'sex': 'Male'},
          2: {'name': 'Advi', 'age': '12', 'sex': 'Female'}}
print(kids)

**Q17.** Describe the time complexity of accessing elements in a dictionary.  
Ans : Dictionary lookups in Python also have an average time complexity of O(1). This means that, on average, the time taken to retrieve an element from a dictionary is constant and does not depend on the size of the dictionary.

**Q18.**In what situations are lists preferred over dictionaries ?    
Ans:1.**When the order of elements is important**: if the order of the elements is important in the data structure we need for our application, then use a list. That’s because a list is an ordered sequence of objects.  
2.**If we need numerical indexes**: lists allow accessing their elements using a numerical index. So, if we have a requirement to access the elements in our data structure using a numerical index then lists are the right choice.  
3.**When duplicate data is allowed**: use lists if allowing duplicate values is a requirement in our application.

**Q19.** Why are dictionaries considered unordered, and how does that affect data retrieval?  
Ans:A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python, dictionaries did not preserve insertion order at all. This meant that when you accessed or printed the items, the order could vary,because their primary function is fast key-based access, and they are not intended to be used as ordered collections like lists or tuples. So even though they appear ordered in new version Python, the emphasis is still on key-value mapping rather than sequence.

**Q20.**  Explain the difference between a list and a dictionary in terms of data retrieval.  
Ans: A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair.  
Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

# **Practicle Questions:**

In [2]:
# Q1. Write a code to create a string with your name and print it .
a = "ADWITA"
print(a)

ADWITA

In [4]:
# Q2. Write a code to find the length of the string "Hello World
word = "Hello World"
print(len(word))

11

In [7]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming"
a = "Python Programming"
print(a[0:3])

Pyt

In [8]:
# Q4. Write a code to convert the string "hello" to uppercase.
b = "hello"
print(b.upper())

HELLO

In [10]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple.
a =("I like apple")
b =a.replace("apple" , "orange")
print(b)

I like orange

In [11]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [12]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [13]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [14]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [15]:
# Q10.Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [17]:
# Q11.Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple = (10,20,30)
print(tuple)

(10, 20, 30)

In [18]:
# Q12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [19]:
# Q13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3

In [20]:
# Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [21]:
# Q15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tuple = ('apple', 'orange', 'banana')
print('banana' in tuple)

True

In [22]:
# Q16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [23]:
# Q17.Write a code to add the element 6 to the set {1, 2, 3, 4}
set = {1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [24]:
# Q18.Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple = (10,20,30)
print(tuple)

(10, 20, 30)

In [25]:
# Q19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [26]:
# Q20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
tuple = (1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3

In [27]:
# Q21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [28]:
# Q22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tuple = ('apple', 'orange', 'banana')
print('banana' in tuple)

True

In [29]:
# Q23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [30]:
# Q24.Write a code to add the element 6 to the set {1, 2, 3, 4}
set = {1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}